PL_MVC/Connected Services/UsuarioReference/Usuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Usuario" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64712/Usuario.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64712/Usuario.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64712/Usuario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ML" />
      <xsd:import schemaLocation="http://localhost:64712/Usuario.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:64712/Usuario.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SL_WCF" />
      <xsd:import schemaLocation="http://localhost:64712/Usuario.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuario_UsuarioAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:UsuarioAdd" />
  </wsdl:message>
  <wsdl:message name="IUsuario_UsuarioAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsuarioAddResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuario_UsuarioGetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:UsuarioGetAll" />
  </wsdl:message>
  <wsdl:message name="IUsuario_UsuarioGetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsuarioGetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuario_UsuarioUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:UsuarioUpdate" />
  </wsdl:message>
  <wsdl:message name="IUsuario_UsuarioUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsuarioUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuario_UsuarioDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:UsuarioDelete" />
  </wsdl:message>
  <wsdl:message name="IUsuario_UsuarioDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsuarioDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsuario">
    <wsdl:operation name="UsuarioAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario/UsuarioAdd" message="tns:IUsuario_UsuarioAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario/UsuarioAddResponse" message="tns:IUsuario_UsuarioAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UsuarioGetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario/UsuarioGetAll" message="tns:IUsuario_UsuarioGetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario/UsuarioGetAllResponse" message="tns:IUsuario_UsuarioGetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UsuarioUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario/UsuarioUpdate" message="tns:IUsuario_UsuarioUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario/UsuarioUpdateResponse" message="tns:IUsuario_UsuarioUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UsuarioDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario/UsuarioDelete" message="tns:IUsuario_UsuarioDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario/UsuarioDeleteResponse" message="tns:IUsuario_UsuarioDelete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsuario" type="tns:IUsuario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UsuarioAdd">
      <soap:operation soapAction="http://tempuri.org/IUsuario/UsuarioAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsuarioGetAll">
      <soap:operation soapAction="http://tempuri.org/IUsuario/UsuarioGetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsuarioUpdate">
      <soap:operation soapAction="http://tempuri.org/IUsuario/UsuarioUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsuarioDelete">
      <soap:operation soapAction="http://tempuri.org/IUsuario/UsuarioDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Usuario">
    <wsdl:port name="BasicHttpBinding_IUsuario" binding="tns:BasicHttpBinding_IUsuario">
      <soap:address location="http://localhost:64712/Usuario.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>